[submodule "utils"]
	path = utils
	url = https://github.com/kraken-ng/utils
	branch = main
[submodule "agents"]
	path = agents
	url = https://github.com/kraken-ng/agents
	branch = main
[submodule "envs"]
	path = envs
	url = https://github.com/kraken-ng/envs
	branch = main
[submodule "modules"]
	path = modules
	url = https://github.com/kraken-ng/modules
	branch = main
